#main
{

	width: 1200px;
}
#menu
{
	text-align: center;
}

#container
{
	height: 450px;
}

#bottomchart
{
	width: 400px;
	height: 200px;
}

#borderMap 
{
	height:700px;
	width:600px;
}

#popup 
{
	z-index: 10;
	background-color: rgba(0,0,0,.4);
	width:200px;
	height:100px;
	position: absolute;
	border-radius: 5px;

}

#footerRow
{
	height: 300px;
}

#left
{
	width:100px;
	vertical-align: top;

}
.bottom
{
	display: inline-block;
}

#bottomCenter
{
	width: 250px;
	background-color: silver;
	vertical-align: top;
}

.menuItem
{
	display:inline-block;
}

.menuSection
{
	min-height: 40px;
	min-width: 40px;
	border-radius: 25px;
	background-color: black;
	border: solid 2px silver;
}

.pathItem 
{
	height:40px;
	min-width: 250px;
}

.highcharts-tooltip>span {
	padding: 10px;
	white-space: normal !important;
	width: 200px;
}

.f32 .flag {
	vertical-align: middle !important;
}
