#main
{

	width: 1200px;
}
#menu
{
	text-align: center;
}

#countryFlad
{
	width:200px;
}

#container
{
	height: 450px;
}

#legalize
{

	width: 800px;
	height: 180px;
}

#bottomchart
{
	width: 400px;
	height: 200px;
}

#borderMap 
{
	height: 800px;
	width:700px;
}

#popup 
{
	z-index: 10;
	background-color: rgba(0,0,0,.4);
	width:200px;
	height:100px;
	position: absolute;
	border-radius: 5px;

}

#footerRow
{
	height: 300px;
}

#left
{
	width:100px;
	vertical-align: top;

}
.bottom
{
	display: inline-block;
}

#bottomCenter
{
	width: 250px;
	vertical-align: top;
}

#scatterPlot
{
	width:400px;
	height:200px;
	display: inline-block;
}

#scatterScale
{
	vertical-align: top;
}

.menuItem
{
	display:inline-block;
}

.menuSection
{
	min-height: 40px;
	min-width: 40px;
	border-radius: 25px;
	background-color: black;
	border: solid 2px silver;
}

.pathItem 
{
	height:40px;
	min-width: 250px;
}

.highcharts-tooltip>span {
	padding: 10px;
	white-space: normal !important;
	width: 200px;
}

.f32 .flag {
	vertical-align: middle !important;
}

/*Bubble styling*/

#bubble{
    border-collapse: collapse;
    border-spacing: 0;
}

#bubble img
{
    opacity: .6;
}

#bubbleContent
{
    min-width:100px;
    background-color: rgba(0,0,0,.6);
    border-radius:5px;
    margin:0px;
    padding:10px;
    max-width: 400px;
    color:white;
}

#bubble tr, #bubble td
{
    margin:0px;
    border: 0px;
}

#bubble img
{
    display:inline-block;
    margin:0px;
}

