#main
{

	width: 1200px;
}
#menu
{
	text-align: center;
	margin:10px;
}

#countryFlad
{
	width:200px;
}

#container
{
	height: 450px;
}

#legalize
{

	width: 800px;
	height: 180px;
}

#bottomchart
{
	width: 400px;
	height: 200px;
}

#borderMap 
{
	height: 450px;
	width:600px;
}

#popup 
{
    z-index: 100;
    position: absolute;
}


#footerRow
{
	height: 300px;
}

#left
{
	width:120px;
	vertical-align: top;

}
.bottom
{
	display: inline-block;
}

#bottomCenter
{
	width: 250px;
	vertical-align: top;
}

#scatterPlot
{
	width:400px;
	height:200px;
	display: inline-block;
}

#scatterScale
{
	vertical-align: top;
}

.menuItem
{
	display:inline-block;
}

.menuSection
{
	min-height: 40px;
	min-width: 40px;
	border-radius: 25px;
	background-color: black;
	border: solid 2px silver;
}

.pathItem 
{
	height:40px;
	min-width: 250px;
}

.highcharts-tooltip>span {
	padding: 10px;
	white-space: normal !important;
	width: 200px;
}

.f32 .flag {
	vertical-align: middle !important;
}

.flat-table {
	margin-bottom: 20px;
	border-collapse:collapse;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	border: 1px;
    border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
}
.flat-table th, .flat-table td {
	box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
		inset 0 1px rgba(0,0,0,0.25);
		padding:3px;
}
.flat-table th {
	/*font-weight: bold;*/
	-webkit-font-smoothing: antialiased;
	/*padding: 1em;*/
	/*color: rgba(0,0,0,0.45);*/
	/*text-shadow: 0 0 1px rgba(0,0,0,0.1);*/
	/*font-size: 1.5em;*/
}
.flat-table td {
	/*color: #f7f7f7;*/
	/*padding: 0.7em 1em 0.7em 1.15em;*/
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 0.6em;
}
.flat-table tr {
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.flat-table tr:nth-child(odd)
{
	background: #BCC6CC;
}
.flat-table-1 {
	/*background: #336ca6;*/
}
.flat-table-1 tr:hover {
	background: rgba(0,0,0,0.2);
}
.flat-table-2 tr:hover {
	background: rgba(0,0,0,0.2);
}
.flat-table-2 {
	/*background: #f06060;*/
}
.flat-table-3 {
	/*background: #52be7f;*/
}
.flat-table-3 tr:hover {
	background: rgba(0,0,0,0.2);
}

/*Bubble styling*/

#bubble{
    border-collapse: collapse;
    border-spacing: 0;
}

#bubble img
{
    opacity: .6;
}

#bubbleContent
{
    min-width:100px;
    background-color: rgba(0,0,0,.6);
    border-radius:5px;
    margin:0px;
    padding:10px;
    max-width: 400px;
    color:white;
}

#bubble tr, #bubble td
{
    margin:0px;
    border: 0px;
}

#bubble img
{
    display:inline-block;
    margin:0px;
}


/******* PART 1 ********/
#useBottom div
{
	display: inline-block;
	height: 300px;
}

#leftInfo
{
	min-width:500px;
}

#borderSeizures
{
	display:inline-block;
	height:400px;
	width: 280px;
	vertical-align: middle;
}

.placeholder
{
	
	text-align: center;
	background-color: black;
	vertical-align: middle;
}

/*.placeholder img
{
	vertical-align: middle;
}*/

#infograph
{
	/*height:500px;*/
	width: 910px;
	background-color: black;
	border-radius: 4px;
	padding:5px;
	display: none;

}

#rightInfo
{
	display: inline-block;
	vertical-align: top;
	padding:2px;
}

#rightInfo img
{
	border-radius: 3px;
	background-color: black;
}

#info1
{
	background-color: black;
	z-index: 5;
}

#info2
{

	z-index: 6;
/*	position: relative;*/
	display: none;
}

#info3
{

	z-index: 7;
	display: none;
}

#info4
{
	
	z-index: 8;
	display: none;
}

/* Button Style*******************************************************************************/
button.minimal {
  background: #e3e3e3;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 120px; }
  button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }
  button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }